PORT=5000
NODE_ENV=development
DATABASE_URL="mysql://root:S%40nket11@localhost:3306/MediNovel_db"
JWT_SECRET="MediNovel_super_secret_jwt_access_token_key_2026"
JWT_REFRESH_SECRET="MediNovel_super_secret_jwt_refresh_token_key_2026"
CORS_ORIGIN="http://localhost:5173"
